.page {
  width: 100%;
  background: #ffffff;
  color: #111827;

  /* щоб нічого не "вилазило" */
  overflow-x: hidden;
  padding-top: 24px;
}
@media (min-width: 769px) {
  .page {
    padding-top: 32px;
  }
}
