/* src/components/CatalogProducts/CatalogProduct.module.css */

.wrapper {
  width: 100%;
  margin: 0 auto;

  /* ключове — обмежуємо ширину списку */
  max-width: 820px;
}

/* мобайл лишається як є */
.list {
  display: grid;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper {
    max-width: 900px;
  }

  .list {
    gap: 14px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 980px; /* щоб не розтягувалось на весь Layout */
  }
}
